@charset "UTF-8"; 

@font-face {
  font-family: 'league';
  src: url(../league-spartan-master/LeagueSpartan-Bold.otf);
}



*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'league', sans-serif;
  transition: .2s linear;
  text-transform: capitalize;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

html{
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

body{
  background-color: #FAFAFA;
  overflow-x: hidden;
  max-width: 100%;
}



header{
  position: fixed;
  top:0; left:0; right: 0;
  background-color: #fcda52;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
} 


header .navBar{
  padding-top: 5em;

  display: flex;
  justify-content: center;
}

.sellva {
 width: 171px;
 background-color: #fcda52;
 margin-left: 70px;
}


header .navBar a{
  font-size: 1rem;
  padding: 34px 6rem 0;
  color: #2d2d2d;
 
}

header .navBar a:hover{
  color:#D85B95;
  transition: 0.3s ease;
}


header > .icons > .bi.bi-cart{
  display: block;
  font-size: 1.3rem;
  color: #333;
  margin-right: 3.5rem;
  margin-top: 6.8rem;
  cursor: pointer;
}

.hide{
  display: none;
}

.bi.bi-list{
  display: none;
}



.showNav > a {
  display: block;
  text-decoration: none;
  color: black;
  padding-top: 1em;
  padding-right: 2em;
  padding-left: 1.5em;
  margin-right: 2em;
  border-bottom: 1px solid black;
}

article{
  padding: 2rem 9%;
}

.slide{
  display: flex;
  align-items: center;
  min-height: 70vh;
  background: url(../img_roses_p/flor3.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.slide .content{
  max-width: 50rem;
}

.slide .content h3{
  font-size: 4rem;
  color: #333;
}

.slide .content span{
  font-size: 2rem;
  color: #c40652b7;
  padding: 1rem 0;
  line-height: 1.5;
}

.slide .content p{
  font-size: 1.5rem;
  color: black;
  padding: 1rem 0;
  line-height: 1.5;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  text-align: center;
  background: #333;
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
  color: white;
}

.btn:hover{
  background: #D85B95;
}

.imagem{
  height: 150px;
  width: 188px;
 
}






section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

section > h1{
  margin-top: 2em;
  text-align: center;
  color: rgb(98, 98, 98);
  font-weight: 900;
  font-size: 2em;
}


.carrosel-roses, .carrosel-cesta, .carrosel-choco{
  width: 89%;
  overflow:inherit;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
 
  padding: 30px 50px;
  max-width: 87%;
  margin-top: -1.5em;
  margin-bottom: 0;

}

.carrosel-roses .product-roses, .carrosel-cesta .product-cesta, .carrosel-choco .product-choco {
  margin: 0 2em 0 auto;
  width: 350px;

  box-shadow: 0 0 10px 5px rgba(0,0,0,0.1);
  border-radius: 20px;
  background-color: #ffffff;
 
  
}

.carrosel-roses  .product-roses img, .carrosel-cesta .product-cesta img, .carrosel-choco .product-choco img{
  width: 350px;
  height: 250px;
  object-fit: cover;

  border-radius: 20px;
}

.imagemProduct{
  background-color: #ffffff;
  border-radius: 20px;
}

.imagemProduct img{
  border: none;
  width: 350px;
  height: 250px;
}


.carrosel-roses .product-roses .inf, .carrosel-cesta .product-cesta .inf, .carrosel-choco .product-choco .inf{
  padding: 20px 30px;
  margin-top: -10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between; 
  background-color: #FFFFFF;
  border-radius: 20px;
}

.carrosel-roses .product-roses .inf button, .carrosel-cesta .product-cesta .inf button, .carrosel-choco .product-choco button{
  width: 1%;
  font-size: 40px;
  margin: 5px 0 -25px 0;
  
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(247, 62, 93);
  
  cursor: pointer;
 
}

.carrosel-roses .product-roses .inf .title, .carrosel-cesta .product-cesta .inf .title, .carrosel-choco .product-choco .inf{
  font-size: 24px;
  cursor: pointer;
}

.carrosel-roses .product-roses .inf .title:hover, .carrosel-cesta .product-cesta .inf .title:hover, .carrosel-choco .product-choco .inf .title:hover{
  color:#D85B95;
  transition: 0.3s ease;
}

.carrosel-roses .product-roses .inf  .price, .carrosel-cesta .product-cesta .inf .price, .carrosel-choco .product-choco .inf .price{
  font-size: 15px;
  font-weight:lighter;
  color: rgb(58, 58, 58);
  margin-top: 5px;
}



.carrosel-roses .seta, .carrosel-cesta .seta, .carrosel-choco .seta{
  
  position: absolute;
  justify-content: space-between;
  display: flex;
  top: 50%;
  
}

.carrosel-roses .seta button, .carrosel-cesta .seta button, .carrosel-choco .seta button{
  font-size: 30px;
  width: 50px;
  height: 50px;
  border: none;
  background-color: transparent;
  color: #D85B95;
  font-weight: 100;
  cursor: pointer;


}

.carrosel-roses .carrosel-cesta .carrosel-choco, .left-roses{
  height: 50px;
  width: 50px;

  position: absolute;
  justify-content: space-between;
  display: flex;
  font-size: 30px;
 
  border: none;
  background-color: transparent;
  color: #D85B95;
  font-weight: 100;
  cursor: pointer;
  margin-top: 145px;
  margin-left: 81%;
}

.rigth-roses{
 


  position: absolute;
  justify-content: space-between;
  display: flex;
  font-size: 30px;

  height: 50px;
  border: none;
  background-color: transparent;
  color: #D85B95;
  font-weight: 100;
  cursor: pointer;
  margin-top: 145px;
  margin-left: -34px;
}

.divCart{
  display: grid;
  width: 400px;
  background-color: #353432;
  color: #eee;
  position: fixed;
  inset: 0 0 0 auto;
  grid-template-rows: 70px 1fr 70px;
}


.dis{
  display: none;
}

@media screen and (max-width:1830px) {

  
  .carrosel-roses .carrosel-cesta .carrosel-choco, .left-roses{
    margin-left: 87%;
  }
}

@media (max-width: 991px){
  html{
    font-size: 75%;
  }

  header{
    padding: 2rem;
  }

  article{
    padding: 2rem;
  }

  .slide{
    background-position: left;
  }
}

@media (max-width: 768px){
  header > .sellva{
    display:none;
  }

  header .sellva{
    background-image: url(../img/sellva.png);
  }
  header .navBar{
    position: absolute;
    top:0%; left:0; right: 0;
    border-top: .1rem solid rgba(0,0,0, .1);
 
  }

  header .navBar a{
    margin: 1rem;
    padding: 1.5rem;
    border: .1rem solid rgba(0,0,0,.1);
  }

  .carrosel-roses .carrosel-cesta .carrosel-choco, .left-roses{
    margin-left: 80%;
  }

  .slide .content h3{
    font-size: 3rem;
  }

  .slide .content span{
    font-size: 1.5rem;
  }
}

@media (min-width: 450px) and (max-width: 768px){
  *{
    box-sizing: content-box;
 
  }
  body{
 
   
  }
  html{
    font-size: 70%;
   
  }
  
  

  header{
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  header .navBar{
    display: none;
    background-color: none;
    

  }





  header > .icons i{
    height: 35px;
  width: 45px;
  border-radius: 50%;
  display: inline-block;
    position: fixed;
    padding-top: 10px ;
    left: 85%;
    
    bottom: 90%;
   
    border-radius: 50px;
  }

  
  .bi.bi-cart{
    text-align: center;
    
  }

  header > .bi.bi-list{
    display: block;
    position: fixed;
    right: 90%;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 2.5em;
    bottom: 88%;
    cursor: pointer;
    padding-bottom: 30px;
  }

  section, #roses{
    background-color: #FFFFFF;
  
  }
 
  .carrosel-roses, .carrosel-cesta, .carrosel-choco{
    
    overflow:hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    padding: 30px 100px  0px 0px;
    margin-top: -1.5em;
    margin-bottom: 0;
  
  }
  
  .carrosel-roses .product-roses, .carrosel-cesta .product-cesta, .carrosel-choco .product-choco {
    margin: 0 2em 0 -1em;
    width: 600px;
    padding-right: 60px;
    padding-left: 40px;
    box-shadow: none;
    border-radius: 20px;
  
    background-color: #FFFFFF;
    
  }
  
 #roses{
  background-color: #FFFFFF;
  width: 100vw;
  overflow:visible;
  overflow-y:visible;
  overflow-x: visible;
 }
 
  
 .carrosel-roses  .product-roses img, .carrosel-cesta .product-cesta img, .carrosel-choco .product-choco img{
  max-width: 450px;
  height: 350px;
  object-fit:cover;
  margin-left: 5em;
  border-radius: 20px;
}

.inf{
  margin-left: 5em;
}
  
.carrosel-roses .product-roses .inf  .price, .carrosel-cesta .product-cesta .inf .price, .carrosel-choco .product-choco .inf .price{
  font-size: 15px;
  font-weight:lighter;
  color: rgb(58, 58, 58);
  margin-top: 5px;
  
}


.carrosel-roses .carrosel-cesta .carrosel-choco,.left-roses{
  height: 50px;
  width: 50px;



  display: block;
  font-size: 30px;

  border: none;
  background-color: transparent;
  color: #D85B95;
  font-weight: 100;
  cursor: pointer;
  margin-top: -50px;
  margin-left: 70%;
}

  .rigth-roses{
    display: block;
    margin-left: 30%;
    margin-top: -50px;
  }

  header > .show{
    display: block;
    
  }

  

  header > .show a{
    padding-top: 10px;
    margin-top: -10px;
    margin-left: -10px;
    display: block;
    width: 300px;
    background-color: #fcda52;
  }
}




@media (min-width: 100px) and (max-width: 449px){

  header > .bi.bi-list{
    display: block;
    position: fixed;
    right: 90%;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 2.5em;
    bottom: 86%;
    cursor: pointer;
    padding-bottom: 30px;
  }

  header > .show a {
    width: 100px;
  }

  .carrosel-roses .product-roses, .carrosel-cesta .product-cesta, .carrosel-choco .product-choco {
    margin: 0 2em 0 -1em;
    max-width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: none;
    border-radius: 20px;
  
    background-color: #FFFFFF;
    
  }


 
  

  .inf{
    margin-left: 0em;
  }

  *{
    box-sizing: content-box;
 
  }
  body{
 
   
  }
  html{
    font-size: 70%;
   
  }
  
  

  header{
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
  header .navBar{
    display: none;
    background-color: none;
    

  }





  header > .icons i{
    height: 35px;
  width: 45px;
  border-radius: 50%;
  display: inline-block;
    position: fixed;
    padding-top: 10px ;
    left: 85%;
    
    bottom: 90%;
   
    border-radius: 50px;
  }

  
  .bi.bi-cart{
    text-align: center;
    
  }

  header > .bi.bi-list{
    display: block;
    position: fixed;
    right: 90%;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 2.5em;
    bottom: 86%;
    
    cursor: pointer;
    padding-bottom: 30px;
  }

  section, #roses{
    background-color: #FFFFFF;
  
  }
 
  .carrosel-roses, .carrosel-cesta, .carrosel-choco{
   
    overflow:hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    
    padding: 30px 100px  0px 0px;
    margin-top: -1.5em;
    margin-bottom: 0;
  
  }
  
  .carrosel-roses .product-roses, .carrosel-cesta .product-cesta, .carrosel-choco .product-choco {
    margin: 0 2em 0 -2em;
  
    padding-right: 0px;
    padding-left: 60px;
    box-shadow: none;
    border-radius: 20px;
  
    background-color: #FFFFFF;
    
  }
  
 #roses{
  background-color: #FFFFFF;
  width: 100vw;
  overflow:visible;
  overflow-y:visible;
  overflow-x: visible;
 }
 
  
 .carrosel-roses  .product-roses img, .carrosel-cesta .product-cesta img, .carrosel-choco .product-choco img{
  max-width: 100%;
  width: 150px;
  height: 150px;
  object-fit: cover;

  
  border-radius: 20px;
}





  
.carrosel-roses .product-roses .inf  .price, .carrosel-cesta .product-cesta .inf .price, .carrosel-choco .product-choco .inf .price{
  font-size: 15px;
  font-weight:lighter;
  color: rgb(58, 58, 58);
  margin-top: 5px;
  
}


.carrosel-roses .carrosel-cesta .carrosel-choco,.left-roses{
  height: 50px;
  width: 50px;



  display: block;
  font-size: 30px;

  border: none;
  background-color: transparent;
  color: #D85B95;
  font-weight: 100;
  cursor: pointer;
  margin-top: -50px;
  margin-left: 70%;
}

  .rigth-roses{
    display: block;
    margin-left: 120px;
    margin-top: -50px;
  }

  header > .show{
    display: block;
    
  }

  

  header > .show a{
    padding-top: 10px;
    margin-top: -10px;
    margin-left: -10px;
    display: block;
    width: 300px;
    background-color: #fcda52;
  }

  

  .carrosel-roses .product-roses .inf .title, .carrosel-cesta .product-cesta .inf .title, .carrosel-choco .product-choco .inf{
    font-size: 1.3em;
    
  }
}


/* INDIVIDUAL PRODUCTS */
#productIndividual{
  display: flex;
  margin-top: 100px;
  flex-direction: row;
  justify-content: center;
  
}


.singleProductImage img{
  width: 600px;

}

 .singleProductDetails{
  padding-right: 50px;

  border-radius: 30px;
}

 .singleProductDetails h4{ 
  padding: 40px 0;
  margin-top: 2em;
  font-size: 2em;

}

 .singleProductDetails h2{ 
  font-size: 26px;
}

.singleProductDetails input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

 .singleProductDetails input:focus{
  outline: none;
}

.singleProductDetails button{
  background: #088178;
  color: #fff;
  padding: 1.3em;
  border-radius: 20px;
  cursor: pointer;
}

.singleProductDetails button:hover{
  background: #def6f4;
  color: black;
}

i  .contagemItens{
  display: inline;
  margin-right: 10px;
  font-weight: 100;
  font-size: 1rem;
  color: #088178;
}